
@{
    ViewData["Title"] = "Error";
}

<div class="container d-flex mt-5">
    <div class="row justify-content-center align-items-center w-100">
        <div class="col-md-6">
            <div class="card text-center rounded shadow-sm">
                <div class="card-header bg-danger text-white">
                    Error
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ocurrió un problema</h5>
                    <p class="card-text">
                        @ViewBag.Error
                    </p>
                    <a href="@Url.Action("Index", "Contacto")" class="btn btn-secondary">Volver a la lista de contactos</a>
                </div>
            </div>
        </div>
    </div>
</div>